[Desktop Entry]
Name=StarryNix-Resources Digital Art Wallpapers
Type=Service
X-KDE-ServiceTypes=KPackage/Generic
X-KDE-PluginInfo-Name=starrynix-resources-digital-art-wallpapers
X-KDE-PluginInfo-Author=StarryReverie
X-KDE-PluginInfo-License=CC-BY-4.0
